@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: white;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Poppins", Arial;
   color: black;
   overflow-x: hidden;
   background-color: rgb(68, 71, 79);
}

nav {
   width: 100%;
   background-color: rgba(57, 59, 66, 0.558);
   position: sticky;
   top: 0;
   z-index: 100;
}

nav p {
   display: inline-block;
   background-color: rgba(54, 58, 71, 0.558);
   border-radius: 30px;
   margin-left: 30px;
}

nav ul ul {
   display: none;
   position: absolute;
   padding-inline-start: 0;
   background-color: rgba(57, 59, 66, 0.558);
}

nav ul li:hover > ul {
   display: block;
}

nav ul {
   list-style: none;
   margin-right: 50px;
   float: right;
}

nav ul li {
   display: inline-block;
}

nav a {
   color: white;
   text-decoration: none;
   padding: 20px;
   display: block;
}

nav ul li a:hover {
   color: rgb(255, 183, 0);
   background-color: white;
   transition: 0.2s ease;
}

nav ul li a {
   transition: 0.2s ease;
}

nav ul li ul li {
   display: block;
}

header {
   width: 100%;
   padding-top: 1em;
   display: flex;
}

.hero {
   margin: 10em;
   gap: 45em;
   color: white;
}

.hero-img {
   position: absolute;
   left: 70em;
   bottom: 15em;
   z-index: 10;
}

.blob {
   position: absolute;
   left: 44em;
   bottom: 1em;
   width: 69em;
}

.hero-about-button {
   margin-top: 30px;
   text-align: center;
   background-color: rgb(255, 183, 0);
   padding: 8px;
   border-radius: 40em;
   border-top: 3px solid white;
   border-bottom: 3px solid white;
   box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px rgb(255, 183, 0), 0 0 20px rgb(255, 183, 0), 0 0 30px rgb(255, 183, 0), 0 0 40px rgb(255, 183, 0);
   transition: 0.5s;
}

.hero-about-button:hover {
   transform: scale(1.1) !important;
}


.about {
   color: black;
   margin-top: 10em;
}

.about-me {
   margin: 10em;
   transition: 0.5s;
   column-count: 2;
   column-rule: 3px rgb(255, 183, 0) solid;
   column-gap: 30px;
}

.naik:hover {
   transform: translateY(-25px) !important;
   transition: 0.5s;
}

#skill {
   text-align: center;
}

.my-skill {
   color: #d9d1c2;
   width: 30%;
   padding: 10px;
   border-radius: 20px;
   margin: auto;
   text-align: center;
   text-indent: 1em;
   transition: 0.5s ease;
}

.my-skill img {
   width: 12em;
}

.flex-skill {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
}


@media screen and (max-width: 767px) {
   .flex-skill {
      gap: 8px;
      flex-direction: column;
      text-align: center;
   }
   .my-skill {
      width: 23em;
   }
   .my-skill img {
      width: 12em;
   }
   .about-me {
      column-count: 1;
   }
}
