@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* for mobile and tablet */
@media only screen and (max-width: 1023px) {
    .hero {
        flex-direction: column;
        align-items: center;
        gap: 7rem;
    }
    .hero h1 {
        font-size: 3.5rem;
    }
    .hero-buttons {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
    .hero img {
        width: 20rem;
    }

    .about {
        flex-direction: column;
        gap: 2rem;
    }

    .tabs {
        flex-direction: column;
    }

    .education-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tabs-container {
        align-items: center;
    }

    .divider {
        width: 5.5rem;
        height: 5px;
    }

    .skills {
        flex-direction: column;
    }

    .items-row {
        margin-top: 4rem;
    }

    .goals-item.active,
    .interests-item.active {
        flex-direction: column;
    }

}

/* for desktop */
@media only screen and (min-width: 1024px) {
    .hero {
        height: 100vh;
    }
    .hero h1 {
        font-size: 5rem;
    }
    .hero-buttons {
        margin-left: 55px;
    }

    .hero img {
        width: 28rem;
    }

    .education-item {
        flex-direction: row;
        align-items: center;
    }

    .tabs-container {
        align-items: start;
    }

    .divider {
        width: 5px;
        height: 5.5rem;
    }

    .skills {
        flex-direction: row;
    }
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-image: url(assets/img/denim.png);
    background-attachment: fixed;
}

.color-yellow {
    color: #ffb700;
}

.color-orange {
    color: #ff5c00;
}

.bg-orange {
    background-color: #ff5c00;
}

.bg-blackGradient {
    background: linear-gradient(to top right, #000000, #272933);
}

.bg-orangeGradient {
    background: linear-gradient(to top right, #ffb700, #ff5c00);
}

.border-white {
    border: 2px solid white;
}

.rounded-regular {
    border-radius: 8px;
}

.rounded-more {
    border-radius: 20px;
}

.font-light {
    font-weight: 100;
}

.font-semibold {
    font-weight: 600;
}

.box-shadow-regular {
    box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.5); /* Bayangan hitam */
}

/* Hero Section */
.hero {
    color: white;
    padding: 6rem;
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    padding: 5px;
    font-size: 4.4rem;
}

.hero h1:nth-child(2) {
    margin-left: 15px;
}

.hero h1:nth-child(3) {
    margin-left: 25px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.hero-buttons a {
    text-decoration: none;
    color: white;
    padding: 13px 30px 13px 30px;
}

/* About Section */

.about {
    margin: 2rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-card {
    padding: 4rem 3rem 4rem 3rem;
    color: white;
    width: fit-content;
    height: fit-content;
}

.about h2 {
    font-size: 2.5rem;
}

.about p {
    font-size: 1.5rem;
}

.about p:nth-child(3) {
    margin-top: 1.5rem;
    max-width: 40rem;
    font-size: 1rem;
}

.about img {
    width: 15rem;
}

/* tab button */
.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 4rem;
}

.tab:hover {
    cursor: pointer;
    background-color: #ff5c00;
    transition: all 0.2s;
}

.tab {
    padding: 9px 40px 9px 40px;
    min-width: 182px;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
}

.container-center {
    display: flex;
    justify-content: center;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    margin-top: 5.5rem;
    gap: 5rem;
}

.education-item {
    gap: 35px;
    color: white;
}

.education-item h3 {
    font-weight: 500;
}

.divider {
    background-color: #d9d9d9;
    border-radius: 15px;
}

.goals-item,
.interests-item {
    background-color: #1b1c1e;
    padding: 1.5rem;
    color: white;
    gap: 2.5rem;
    max-width: 900px;
}

.goals-item h3,
.interests-item h3 {
    font-weight: 600;
    font-size: 2rem;
}

.goals-item p,
.interests-item p {
    margin-top: 15px;
    font-size: 1.1rem;
}

.item-logo {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* skills */

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    font-size: 1.4rem;
    padding: 5rem;
    color: white;
}

#skills-header {
    display: flex;
    flex-direction: column;
}

#skills-header a {
    margin-top: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    width: fit-content;
    padding: 13px 30px 13px 30px;
}

.items-row {
    max-width: 30rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.items-row img {
    filter: grayscale(100%);
    transition: filter 0.2s ease;
}

.items-row img:hover {
    filter: grayscale(0%);
    transition: filter 0.2s ease;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    margin: 2rem;
    justify-content: center;
}

.project-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    max-width: 410px;
}

.fly-hover:hover {
    transform: translateY(-15px);
    transition: ease 0.5s;
}

.fly-hover {
    transition: ease 0.5s;
}

.project-item-img {
    display: flex;
    object-fit: cover;
    max-width: 420px;
}

.project-item-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
    background-color: #272933;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

.tag {
    color: white;
    font-size: small;
    padding: 8px 15px 8px 15px;
    border-radius: 2rem;
}

.tag.tailwind {
    background-color: #38ade2;
}

.tag.laravel {
    background-color: #ff2d20;
}

.tag.livewire {
    background-color: #fb70a9;
}

.tag.react {
    background-color: #61dafb;
}

.tag.inertia {
    background-color: #7071ed;
}
